@import "tailwindcss";
:root {
  --bg-primary : #EEF8F7;
  --bg-secondary : #0F8F88;
  --text : #53606F;
  --bg-btn : #111827;
}

@media (prefers-color-scheme: dark) {
  :root {

  }
}

body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  direction: rtl;
}

